<h1>Product works!</h1>
<div class="card col-md-3">
    <div class="priceTag">Starting at just $199.99 per day</div>
    <img alt="..." loading="lazy" width="300" height="300" decoding="async" data-nimg="1" class="card-img-top" [src]="product.imageUrl" style="color: transparent;">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Learn More</button>
    </div>
</div>
